.offense-player-container{    
    position:absolute;
    z-index:10;
    height:40px;
    width:50px;    
    text-align:center;
    z-index:10;
}

.offense-player-container img{
    max-height:30px;
    max-width:30px;
    margin-top:-15px;
}

.player-caption{
    position:relative;
    bottom:0px;
    font-size:.6em;   
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);   
}

.defense-player-container{    
    position:absolute;
    z-index:10;
    height:40px;
    width:50px;    
    text-align:center;
    z-index:10;
}

.defense-player{
    position:relative;
    bottom:0px;
    font-size:.6em;  
    color:#ccc; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.defense-player-container img{
    max-height:30px;
    max-width:30px;
    margin-top:-15px;
    opacity:.5;
    filter: grayscale(100%);
}
