<div id='court'>
    <div id='floor'>          
    </div>
    <div id='container-backboard'>
       <div id='backboard'></div>
       <div id='front-rim'>
           <img src='/assets/images/sprites/net-bottom.png' id='net-bottom' />
       </div>
       <div id='rim-center'></div>
    </div>  
</div>

<div id='match_play_container'>
    <div id='msgarea' style='color:#fff;'>Msg Area</div>
    <div id='match_play'>       
        <button onclick='Ball.inbound();'>Inbound Ball</button> 
        <button onclick='Ball.stopDribbling=false;Ball.dribble();'>Dribble</button> 
         <button onclick='Ball.shoot();'>Shoot</button>
        <button onclick='Ball.pass();'>Pass</button>
        <button onclick='Ball.placeAndShoot();'>PlaceAndShoot</button>
        <button onclick='Match.play();'>Automate Start/Stop</button>

    </div>
    
</div>



