<div id='court'>
    <div id='floor'>          
    </div>
    <div id='container-backboard'>
       <div id='backboard'></div>
       <div id='front-rim'>
           <img src='/assets/images/sprites/net-bottom.png' id='net-bottom' />
       </div>
       <div id='rim-center'></div>
    </div>  
</div>

<div id='match_play_container'>
    <div id='msgarea' style='color:#fff;'>Msg Area</div>
    <div id='match_play'>       
        <button onClick="Match.initMatch()">Start a game</button>
    </div>
    
</div>



